[submodule "sysadmin"]
	path = sysadmin
	url = https://github.com/dgmorales/cssm.git
[submodule "talks/cm-pas"]
	path = talks/cm-pas
	url = https://github.com/dgmorales/talk-puppet-ansible-salt.git
[submodule "talks/ansible-quick"]
	path = talks/ansible-quick
	url = https://github.com/dgmorales/talk-ansible-quick-n-dirty.git
	branch = talk-ansible-short
[submodule "sysadmin-devopsdays-poa"]
	path = talks/sysadmin-devopsdays-poa
	url = https://github.com/dgmorales/talk-novo-sysadmin-devopsdays-poa
[submodule "talks/self-service-it"]
	path = talks/self-service-it
	url = https://github.com/dgmorales/talk-self-service-it
[submodule "cpbr10"]
	path = cpbr10
	url = https://github.com/dgmorales/talk-workshop-ansible
[submodule "talks/workshop-ansible"]
	path = talks/workshop-ansible
	url = https://github.com/dgmorales/talk-workshop-ansible
[submodule "workshop-ansible-phpexp17"]
	path = talks/workshop-ansible-phpexp17
	url = https://github.com/dgmorales/talk-workshop-ansible
	branch = phpexp
[submodule "talks/devopsdays-rj-23"]
	path = talks/devopsdays-rj-23
	url = https://github.com/dgmorales/talk-devopsdays-rio-2023-platform-engineering
